example/src/meetingcapturedemo/pkgs/Wadl/Planner.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/planner" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Planner" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Planner">Microsoft Planner lets you easily bring together teams, tasks, documents, and conversations for better results.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/planner" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetTask_Response_createdBy_def_user_def_displayName_def" />
      <string name="GetTask_Response_createdBy_def_user_def_id_def" />
      <object name="GetTask_Response_createdBy_def_user_def">
        <property name="displayName" type="string" />
        <property name="id" type="string" />
      </object>
      <object name="GetTask_Response_createdBy_def">
        <property name="user" typeRef="GetTask_Response_createdBy_def_user_def" />
      </object>
      <string name="GetTask_Response_planId_def" />
      <string name="GetTask_Response_bucketId_def" />
      <string name="GetTask_Response_title_def" />
      <integer name="GetTask_Response_percentComplete_def" />
      <dateTimeString name="GetTask_Response_startDateTime_def" />
      <dateTimeString name="GetTask_Response_createdDateTime_def" />
      <dateTimeString name="GetTask_Response_dueDateTime_def" />
      <boolean name="GetTask_Response_hasDescription_def" />
      <dateTimeString name="GetTask_Response_completedDateTime_def" />
      <integer name="GetTask_Response_referenceCount_def" />
      <string name="GetTask_Response_id_def" />
      <object name="GetTask_Response">
        <property name="createdBy" typeRef="GetTask_Response_createdBy_def" />
        <property name="planId" type="string" />
        <property name="bucketId" type="string" />
        <property name="title" type="string" />
        <property name="percentComplete" type="integer" />
        <property name="startDateTime" typeRef="GetTask_Response_startDateTime_def" />
        <property name="createdDateTime" typeRef="GetTask_Response_createdDateTime_def" />
        <property name="dueDateTime" typeRef="GetTask_Response_dueDateTime_def" />
        <property name="hasDescription" type="boolean" />
        <property name="completedDateTime" typeRef="GetTask_Response_completedDateTime_def" />
        <property name="referenceCount" type="integer" />
        <property name="id" type="string" />
      </object>
      <string name="UpdateTask_Request_title_def" />
      <dateTimeString name="UpdateTask_Request_dueDateTime_def" />
      <dateTimeString name="UpdateTask_Request_startDateTime_def" />
      <string name="UpdateTask_Request_percentComplete_def" />
      <string name="UpdateTask_Request_assignments_def" />
      <object name="UpdateTask_Request">
        <property name="title" type="string" />
        <property name="dueDateTime" typeRef="UpdateTask_Request_dueDateTime_def" />
        <property name="startDateTime" typeRef="UpdateTask_Request_startDateTime_def" />
        <property name="percentComplete" type="string" />
        <property name="assignments" type="string" />
      </object>
      <string name="ListBuckets_Response_value_def_items_def_name_def" />
      <string name="ListBuckets_Response_value_def_items_def_planId_def" />
      <string name="ListBuckets_Response_value_def_items_def_id_def" />
      <object name="ListBuckets_Response_value_def_items_def">
        <property name="name" type="string" />
        <property name="planId" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ListBuckets_Response_value_def_items_def" name="ListBuckets_Response_value_def" />
      <object name="ListBuckets_Response">
        <property name="value" typeRef="ListBuckets_Response_value_def" />
      </object>
      <string name="CreateTask_Request_planId_def" />
      <string name="CreateTask_Request_title_def" />
      <string name="CreateTask_Request_bucketId_def" />
      <dateTimeString name="CreateTask_Request_startDateTime_def" />
      <dateTimeString name="CreateTask_Request_dueDateTime_def" />
      <string name="CreateTask_Request_assignments_def" />
      <object name="CreateTask_Request">
        <property name="planId" type="string" />
        <property name="title" type="string" />
        <property name="bucketId" type="string" />
        <property name="startDateTime" typeRef="CreateTask_Request_startDateTime_def" />
        <property name="dueDateTime" typeRef="CreateTask_Request_dueDateTime_def" />
        <property name="assignments" type="string" />
      </object>
      <string name="ListTasks_Response_value_def_items_def_createdBy_def_user_def_displayName_def" />
      <string name="ListTasks_Response_value_def_items_def_createdBy_def_user_def_id_def" />
      <object name="ListTasks_Response_value_def_items_def_createdBy_def_user_def">
        <property name="displayName" type="string" />
        <property name="id" type="string" />
      </object>
      <object name="ListTasks_Response_value_def_items_def_createdBy_def">
        <property name="user" typeRef="ListTasks_Response_value_def_items_def_createdBy_def_user_def" />
      </object>
      <string name="ListTasks_Response_value_def_items_def_completedBy_def_user_def_displayName_def" />
      <string name="ListTasks_Response_value_def_items_def_completedBy_def_user_def_id_def" />
      <object name="ListTasks_Response_value_def_items_def_completedBy_def_user_def">
        <property name="displayName" type="string" />
        <property name="id" type="string" />
      </object>
      <object name="ListTasks_Response_value_def_items_def_completedBy_def">
        <property name="user" typeRef="ListTasks_Response_value_def_items_def_completedBy_def_user_def" />
      </object>
      <dateTimeString name="ListTasks_Response_value_def_items_def_completedDateTime_def" />
      <string name="ListTasks_Response_value_def_items_def_planId_def" />
      <string name="ListTasks_Response_value_def_items_def_bucketId_def" />
      <string name="ListTasks_Response_value_def_items_def_title_def" />
      <integer name="ListTasks_Response_value_def_items_def_percentComplete_def" />
      <dateTimeString name="ListTasks_Response_value_def_items_def_startDateTime_def" />
      <dateTimeString name="ListTasks_Response_value_def_items_def_createdDateTime_def" />
      <dateTimeString name="ListTasks_Response_value_def_items_def_dueDateTime_def" />
      <boolean name="ListTasks_Response_value_def_items_def_hasDescription_def" />
      <integer name="ListTasks_Response_value_def_items_def_referenceCount_def" />
      <string name="ListTasks_Response_value_def_items_def_id_def" />
      <object name="ListTasks_Response_value_def_items_def">
        <property name="createdBy" typeRef="ListTasks_Response_value_def_items_def_createdBy_def" />
        <property name="completedBy" typeRef="ListTasks_Response_value_def_items_def_completedBy_def" />
        <property name="completedDateTime" typeRef="ListTasks_Response_value_def_items_def_completedDateTime_def" />
        <property name="planId" type="string" />
        <property name="bucketId" type="string" />
        <property name="title" type="string" />
        <property name="percentComplete" type="integer" />
        <property name="startDateTime" typeRef="ListTasks_Response_value_def_items_def_startDateTime_def" />
        <property name="createdDateTime" typeRef="ListTasks_Response_value_def_items_def_createdDateTime_def" />
        <property name="dueDateTime" typeRef="ListTasks_Response_value_def_items_def_dueDateTime_def" />
        <property name="hasDescription" type="boolean" />
        <property name="referenceCount" type="integer" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ListTasks_Response_value_def_items_def" name="ListTasks_Response_value_def" />
      <object name="ListTasks_Response">
        <property name="value" typeRef="ListTasks_Response_value_def" />
      </object>
      <string name="ListMyPlans_Response_value_def_items_def_title_def" />
      <string name="ListMyPlans_Response_value_def_items_def_id_def" />
      <object name="ListMyPlans_Response_value_def_items_def">
        <property name="title" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ListMyPlans_Response_value_def_items_def" name="ListMyPlans_Response_value_def" />
      <object name="ListMyPlans_Response">
        <property name="value" typeRef="ListMyPlans_Response_value_def" />
      </object>
      <string name="GetTaskDetails_Response_description_def" />
      <string name="GetTaskDetails_Response_id_def" />
      <object name="GetTaskDetails_Response">
        <property name="description" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="UpdateTaskDetails_Request_description_def" />
      <string name="UpdateTaskDetails_Request_references_def_items_def_alias_def" />
      <string dtype="hyperlink" name="UpdateTaskDetails_Request_references_def_items_def_resourceLink_def" />
      <object name="UpdateTaskDetails_Request_references_def_items_def">
        <property name="alias" type="string" />
        <property name="resourceLink" type="string" dtype="hyperlink" />
      </object>
      <array typeRef="UpdateTaskDetails_Request_references_def_items_def" name="UpdateTaskDetails_Request_references_def" />
      <object name="UpdateTaskDetails_Request">
        <property name="description" type="string" />
        <property name="references" typeRef="UpdateTaskDetails_Request_references_def" />
      </object>
      <string name="CreateBucket_Response_name_def" />
      <string name="CreateBucket_Response_planId_def" />
      <string name="CreateBucket_Response_orderHint_def" />
      <string name="CreateBucket_Response_id_def" />
      <object name="CreateBucket_Response">
        <property name="name" type="string" />
        <property name="planId" type="string" />
        <property name="orderHint" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="CreateBucket_param_body_def_name_def" />
      <string name="CreateBucket_param_body_def_planId_def" />
      <object name="CreateBucket_param_body_def">
        <property name="name" type="string" />
        <property name="planId" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/planner">
    <resource path="/{connectionId}/beta/planner/tasks/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTask">
        <doc title="Get a task&#xA;Get an existing planner task." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/tasks/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the tast to update." />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateTask">
        <doc title="Update a task&#xA;Update an existing planner task." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="title" path="/title" type="xs:string" />
            <param style="plain" name="dueDateTime" path="/dueDateTime" type="service:UpdateTask_Request_dueDateTime_def" />
            <param style="plain" name="startDateTime" path="/startDateTime" type="service:UpdateTask_Request_startDateTime_def" />
            <param style="plain" name="percentComplete" path="/percentComplete" type="xs:string">
              <option value="Not Started" />
              <option value="In Progress" />
              <option value="Completed" />
            </param>
            <param style="plain" name="assignments" path="/assignments" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/plans/{id}/buckets">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the plan." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListBuckets">
        <doc title="List buckets&#xA;List the buckets in a plan." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListBuckets_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateTask">
        <doc title="Create a task&#xA;Create a new task in planner." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="planId" path="/planId" type="xs:string" required="true" />
            <param style="plain" name="title" path="/title" type="xs:string" required="true" />
            <param style="plain" name="bucketId" path="/bucketId" type="xs:string" />
            <param style="plain" name="startDateTime" path="/startDateTime" type="service:CreateTask_Request_startDateTime_def" />
            <param style="plain" name="dueDateTime" path="/dueDateTime" type="service:CreateTask_Request_dueDateTime_def" />
            <param style="plain" name="assignments" path="/assignments" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/plans/{id}/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the plan." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListTasks">
        <doc title="List tasks&#xA;List the tasks in a plan." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListTasks_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/me/planner/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListMyTasks">
        <doc title="List my tasks&#xA;List the tasks assigned to me." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListTasks_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/me/planner/plans">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListMyPlans">
        <doc title="List my plans&#xA;List the plans the user has subscribed to." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListMyPlans_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/tasks/{id}/details">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTaskDetails">
        <doc title="Get task details&#xA;Get the task details for an existing task." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetTaskDetails_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/planner/tasks/{id}/details">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateTaskDetails">
        <doc title="Update task details&#xA;Update the task details for an existing task." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="description" path="/description" type="xs:string" />
            <param style="plain" name="references" path="/references" type="service:UpdateTaskDetails_Request_references_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTaskDetails_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/tasks/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTaskV2">
        <doc title="Get a task&#xA;Get an existing planner task." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/tasks/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the tast to update." />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateTaskV2">
        <doc title="Update a task&#xA;Update an existing planner task." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="title" path="/title" type="xs:string" />
            <param style="plain" name="dueDateTime" path="/dueDateTime" type="service:UpdateTask_Request_dueDateTime_def" />
            <param style="plain" name="startDateTime" path="/startDateTime" type="service:UpdateTask_Request_startDateTime_def" />
            <param style="plain" name="percentComplete" path="/percentComplete" type="xs:string">
              <option value="Not Started" />
              <option value="In Progress" />
              <option value="Completed" />
            </param>
            <param style="plain" name="assignments" path="/assignments" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/plans/{id}/buckets">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the plan." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListBucketsV2">
        <doc title="List buckets&#xA;List the buckets in a plan." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListBuckets_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/buckets">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateBucket">
        <doc title="Create a bucket&#xA;Create a bucket in planner" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="name" path="/name" type="xs:string" required="true" />
            <param style="plain" name="planId" path="/planId" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateBucket_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateTaskV2">
        <doc title="Create a task&#xA;Create a new task in planner." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="planId" path="/planId" type="xs:string" required="true" />
            <param style="plain" name="title" path="/title" type="xs:string" required="true" />
            <param style="plain" name="bucketId" path="/bucketId" type="xs:string" />
            <param style="plain" name="startDateTime" path="/startDateTime" type="service:CreateTask_Request_startDateTime_def" />
            <param style="plain" name="dueDateTime" path="/dueDateTime" type="service:CreateTask_Request_dueDateTime_def" />
            <param style="plain" name="assignments" path="/assignments" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTask_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/plans/{id}/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifier of the plan." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListTasksV2">
        <doc title="List tasks&#xA;List the tasks in a plan." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListTasks_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/me/planner/tasks">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListMyTasksV2">
        <doc title="List my tasks&#xA;List the tasks assigned to me." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListTasks_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/me/planner/plans">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListMyPlansV2">
        <doc title="List my plans&#xA;List the plans the user has subscribed to." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListMyPlans_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/tasks/{id}/details">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTaskDetailsV2">
        <doc title="Get task details&#xA;Get the task details for an existing task." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetTaskDetails_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/planner/tasks/{id}/details">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="The unique identifer of the task." />
      </param>
      <method siena:requiresAuthentication="true" name="PATCH" id="UpdateTaskDetailsV2">
        <doc title="Update task details&#xA;Update the task details for an existing task." />
        <request>
          <param style="header" name="prefer" type="xs:string" required="true" fixed=" return=representation">
            <doc title="prefer" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="description" path="/description" type="xs:string" />
            <param style="plain" name="references" path="/references" type="service:UpdateTaskDetails_Request_references_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTaskDetails_Response" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="planner" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>